<ul class="navbar-ul">
  <li class="admin-navbar-li"><a class="navbar-link" href="/admins">ADMIN CONTROL</a></li>
  <li class="admin-navbar-li"><a class="navbar-link" href="/admins/users">Users</a></li>
  <li class="admin-navbar-li"><a class="navbar-link" href="/admins/rekos">Rekos</a></li>
  <li class="admin-navbar-li"><a class="navbar-link" href="/admins/recommendables">Movies</a></li>
  <li class="admin-navbar-li"><a class="navbar-link" href="/admins/preferences">Preferences</a></li>
  <li class="admin-navbar-li"><a class="navbar-link" href="/admins/beta_applicants">Beta Applicants</a></li>
</ul>

<script>
  console.log("hi from navbar");
  const ending = document.URL.split("/admins")[1];
  navbarLinks = document.querySelectorAll(".navbar-link");
  navbarLinks.forEach((navbarLink) => {
    if (navbarLink.href === document.URL) {
      navbarLink.classList.add("b-violet");
    }
  });
</script>


