<%= render partial: "navbar" %>

<div class="container">
  <h1>Recommendables</h1>

  <h2><%= @movies.size %> Movies</h2>
  <%= render partial: "recommendables/table_movies", locals: { movies: @movies } %>
</div>
