<%= render partial: "overrider_style_admins" %>
<%= render partial: "navbar" %>

<div class="container jsTrigger-removeMediaQueries">
  <h2>Recommendables</h2>

  <h4>(<%= @movies.size %> Movies)</h4>
  <%= render partial: "recommendables/table_movies", locals: { movies: @movies } %>
</div>
