<%= render partial: "overrider_style_admins" %>
<%= render partial: "navbar" %>

<div class="container-fluid jsTrigger-removeMediaQueries">
  <h2>Rekos</h2>
  <h4>(<%= @rekos.size %> Rekos)</h4>
  <%= render partial: "rekos/table_rekos", locals: { rekos: @rekos, hide_receiver: false } %>
</div>
