<%= render partial: "overrider_style_admins" %>
<meta class="jsTrigger-testJsErb jsTrigger-removeMediaQueries">

<div class="jsTrigger-copyToClipboard background-container b-violet">
  <div class="master-container">
    <div class="paper-wrapper">
      <h2>TESTING TMDb</h2>


    </div>
  </div>
</div>

<script>
  const cards = document.querySelectorAll(".search-card");
  console.log(cards);
  cards.forEach((card) => {
    card.addEventListener("click", (event) => {
      event.currentTarget.classList.toggle("selected");
    });
  });
</script>
