<%= render partial: "navbar" %>

<div class="container">
  <h1>User <%= "#{@user.first_name} #{@user.last_name}"%></h1>
  <%= render partial: "users/table_user", locals: { user: @user } %>
  <h2>Rekos Inbox</h2>
  <%= render partial: "rekos/table_rekos", locals: { rekos: @user.rekos_received, hide_receiver: true  } %>
</div>
