<div class="container-fluid">
  <h1>All Rekos</h1>
  <%= render partial: "table_rekos", locals: { rekos: @rekos, hide_asker: false } %>
  <%= render partial: "pages/bttn_back_to_dashboard" %>
  <%= render partial: "bttn_add_reko" %>
</div>
