<div class="background-container fun-bg">
  <div class=space-top-user></div>
  <div class="what-do-you">
      <div class="logo-lockup">
        <div class="logo-landing"></div>
      </div>

    </div>
    <!-- <a href="new_beta_applicant_path">"link"</a> -->
        <h1 id="h1-style"> Invalid token path!</h1>
        <h4 id="h4-style"><%= link_to "Sign up for beta", new_beta_applicant_path%> </h4>
</div>
