<h1>hello friend of <%= @user.to_s %></h1>
<form id="formSubmitName">
  <input id="inputName" name="beta_applicant[name]" type="text" placeholder="input your name">
  <button>submit your name</button>
</form>

<form id="formAjaxSearch" class="visible">
  <input id="inputKeyword" name="" type="text" placeholder="search for movies">
</form>

<div id="search-cards-container">
  <!-- WILL GET DYNAMICALLY POPULATED WITH NEW CARDS -->
</div>

<style>

  .invisible {
    opacity: 0;
    transition: 0.5s ease;
  }
  .visible {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  #search-cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .search-card {
    width: 130px;
    max-width: 130px;
    height: 230px;
    max-height: 230px;
    display: inline;
    border: 1px solid red;
    margin: 10px;
    border: 10px solid transparent;
  }
  .search-card > img {
    width: 100%;
    height: 84%;
  }
  .search-card > p {
    margin: 0;
  }
  .search-card.selected {
    border: 10px solid green;
  }
</style>


<script>
  // ADD EVENTLISTENERS FOR SELECTION
  // const addSelectionListener = (cardsContainer) => {
  //   console.log("hi from inside selection listener!")
  //   const cards = document.querySelectorAll(".search-card");
  //   cards.forEach((card) => {
  //     card.addEventListener("click", (event) => {
  //       console.log(event);
  //       console.log(event.currentTarget);
  //       event.currentTarget.classList.toggle("selected");
  //     });
  //   });
  //   console.log(cards[0]);
  //   console.log(typeof(cards[0]));

  const addSelectionListener = (card) => {
    card.addEventListener("click", (event) => {
        // console.log(event);
        // console.log(event.currentTarget);
        event.currentTarget.classList.toggle("selected");
      });
  };
  // cardsContainer.children.forEach((searchCard) => {
  //   // console.log(searchCard);
  //   searchCard.addEventListener("click", (event) => {
  //     console.log(event);
  //     // event.currentTarget.classList.toggle("selected");
  //   });
  // });
  // };
</script>

<script>
  // LOG MESSAGE
  console.log("hello from inline script!");
  // FINAL DATA
  let name;
  let movies = [];
  // LOAD ALL DOM ELEMENTS
  const formSubmitName = document.getElementById("formSubmitName");
  const formAjaxSearch = document.getElementById("formAjaxSearch");
  const inputName = document.getElementById("inputName");
  const inputKeyword = document.getElementById("inputKeyword");
  const cardsContainer = document.getElementById("search-cards-container");
  // ADD EVENTLISTENERS FOR "transitioned" event! (loop over all types of transitioned)
  "transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd".split(" ").forEach((event) => {
    formSubmitName.addEventListener(event, () => { // webkitTransitionEnd oTransitionEnd MSTransitionEnd"
      formAjaxSearch.classList.remove("invisible");
      formAjaxSearch.classList.add("visible");
    });
  })
  formSubmitName.addEventListener("submit", (event) => {
    event.preventDefault();
    if (inputName.value.length < 2) {
      alert("your name has to few letters!");
    } else {
      let name = inputName.value;
      alert(`${name} captured!`);
      formSubmitName.classList.add("invisible");
    }
  });

  // ADD EVENTLISTENER FOR AJAX CALL
  inputKeyword.addEventListener("keyup", (event)=> {
    apiCall(inputKeyword.value);
  });

  const normalize = searchTerm => {
    return searchTerm.replace(/ /g, '+');
  };

  // ITUNES API CALL FROM JS
  const apiCall = (searchTerm) => {
    // const proxyurl = "https://cors-anywhere.herokuapp.com/"; // TO PREVENT CORS FAILURE
    const url = "https://itunes.apple.com/search?media=movie&term=" + normalize(searchTerm); //

    fetch(url)
    .then((response) => response.json())
    .then((data) => {
      let movies = [];
      // --------------- LOOP ALL RESULTS
      data.results.forEach((result) => {
        if (result.kind === "feature-movie") {
          const movie = buildMovie(result);
          movies.push(movie);
        }
      });
      deleteCards();
      addCards(movies);
      addSelectionListener(document.getElementById("search-cards-container"));
    });
  };

  const buildMovie = (apiResultObject) => {
    return {
      "title": apiResultObject.trackName,
      "artworkUrl": resizeImage(apiResultObject.artworkUrl100),
      "itunesId": apiResultObject.trackId,
      "primaryGenreName": apiResultObject.primaryGenreName,
    }
  };

  const deleteCards = () => {
    const cards = document.querySelectorAll(".search-card");
    cards.forEach((card) => {
      console.log(card)
      if (card.classList.contains("selected")) {
        console.log("DONT delete");
      } else {
        console.log("delete");
        removeElement(card);
      }
    });

    console.log("HEEERRRE");
    console.log(cards);
    // deleteChildren(element);
    // let children = element.childNodes;
    // console.log(children);
    // console.log(child.classList.contains("selected"));

    // while (element.firstChild) {
    //   if (!element.firstChild.classList.contains("selected")) {
    //     element.removeChild(element.firstChild);
    //   }
    // }
  };

  const removeElement = (el) => {
    el.parentNode.removeChild(el);
  };

  const addCards = (movies) => {
    movies.forEach((movie) => {
      const card = buildCard(movie);
      addSelectionListener(card);
      // console.log(card);
      cardsContainer.insertAdjacentElement('beforeend', card);
      // addChild(cardsContainer, card);
    });
  };

  const deleteChildren = (element) => {
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    }
  };

  const addChild = (element, movie) => {
    element.insertAdjacentHTML("beforeend", `<p>${movie.title}</p>`);
  };

  const buildCard = (movie) => {
    // create div with class "search-card"
    const searchCard = createElementCustom("div", ["search-card"]);
    // create image with src="[movie.artworkUrl]" and alt="[movie.title]"
    const img = createImageCustom(movie.artworkUrl, movie.title);
    // create h2 element with value [movie.title]
    const title = document.createElement("p");
    title.innerText = movie.title;
    // append img and h2 tag to the search-card
    insertElements(searchCard, [img, title]);
    return searchCard
  };


  const createElementCustom = (tagname, classnameArr) => {
    const el = document.createElement(tagname);
    classnameArr.forEach((classname) => {
      el.classList.add(`${classname}`);
    });
    return el
  };

  const createImageCustom = (src, altText) => {
    const img = document.createElement('img');
    img.src = src;
    img.alt = altText;
    return img
  };

  const insertElements = (parent, childsArr) => {
    childsArr.forEach((child) => {
      parent.insertAdjacentElement('beforeend', child);
    });
  };

  const resizeImage = (url) => {
    return url.replace("100x100bb.jpg", "400x400bb.jpg");
  };
</script>




