<!-- DO NOT CHANGE THE ID NAMING -->
<!-- <div class="background-container dark-violet"> -->
  <div class="master-container green">
    <div class="paper-wrapper">
      <h1>hello friend of <%= @user.to_s %></h1>
      <form id="formSubmitName">
        <input autocomplete="off" id="inputName" name="beta_applicant[name]" type="text" placeholder="input your name" value="<%= "#{@sender_name}" %>">
        <button>submit</button>
      </form>

      <form id="formAjaxSearch" class="invisible">
        <input autocomplete="off" id="inputKeyword" name="" type="text" placeholder="search for movies">
        <button id="sendRekosButton">GO</button>
      </form>

      <!-- CARDS STYLING -> _search-cards.scss -->
      <div id="search-cards-container">
        <!-- WILL GET DYNAMICALLY POPULATED WITH NEW CARDS -->
      </div>
    </div>
  </div>
<!-- </div> -->

