<h1>hello friend of <%= @user.to_s %></h1>
<form id="formSubmitName">
  <input id="inputName" name="beta_applicant[name]" type="text" placeholder="input your name">
  <button>submit your name</button>
</form>

<form id="formAjaxSearch" class="visible">
  <input id="inputKeyword" name="" type="text" placeholder="search for movies">
</form>

<div id="search-cards-container">
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
  <div class="search-card">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Video115/v4/7f/9b/a1/7f9ba129-40bc-f14f-35e7-eb480118692b/source/400x400bb.jpg" alt="">
    <h2>Matrix</h2>
  </div>
</div>

<style>

  .invisible {
    opacity: 0;
    transition: 0.5s ease;
  }
  .visible {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  #search-cards-container {
    display: flex;
  }
  .search-card {
    border: 2px solid red;
  }
  .search-card > img {
    height: 200px;
    width: 130px;
  }
  .search-card > h2 {
    color: green;
  }
  .search-card.selected {
    border: 10px solid green;
  }
</style>


<script>
  // ADD EVENTLISTENERS FOR SELECTION
  const addSelectionListener = (cardsContainer) => {
    console.log("hi from inside selection listener!")
    const cards = document.querySelectorAll(".search-card");
    cards.forEach((card) => {
      card.addEventListener("click", (event) => {
        console.log(event);
        event.currentTarget.classList.toggle("selected");
      });

    });
    console.log(cards[0]);
    console.log(typeof(cards[0]));

    // cardsContainer.children.forEach((searchCard) => {
    //   // console.log(searchCard);
    //   searchCard.addEventListener("click", (event) => {
    //     console.log(event);
    //     // event.currentTarget.classList.toggle("selected");
    //   });
    // });
  };
</script>

<script>
  // LOG MESSAGE
  console.log("hello from inline script!");
  // FINAL DATA
  let name;
  let movies = [];
  // LOAD ALL DOM ELEMENTS
  const formSubmitName = document.getElementById("formSubmitName");
  const formAjaxSearch = document.getElementById("formAjaxSearch");
  const inputName = document.getElementById("inputName");
  const inputKeyword = document.getElementById("inputKeyword");
  const cardsContainer = document.getElementById("search-cards-container");
  // ADD EVENTLISTENERS FOR "transitioned" event! (loop over all types of transitioned)
  "transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd".split(" ").forEach((event) => {
    formSubmitName.addEventListener(event, () => { // webkitTransitionEnd oTransitionEnd MSTransitionEnd"
      formAjaxSearch.classList.remove("invisible");
      formAjaxSearch.classList.add("visible");
    });
  })
  formSubmitName.addEventListener("submit", (event) => {
    event.preventDefault();
    if (inputName.value.length < 2) {
      alert("your name has to few letters!");
    } else {
      let name = inputName.value;
      alert(`${name} captured!`);
      formSubmitName.classList.add("invisible");
    }
  });

  // ADD EVENTLISTENER FOR AJAX CALL
  inputKeyword.addEventListener("keyup", (event)=> {
    apiCall(inputKeyword.value);
  });

  const normalize = searchTerm => {
    return searchTerm.replace(/ /g, '+');
  };

  // ITUNES API CALL FROM JS
  const apiCall = (searchTerm) => {
    // const proxyurl = "https://cors-anywhere.herokuapp.com/"; // TO PREVENT CORS FAILURE
    const url = "https://itunes.apple.com/search?media=movie&term=" + normalize(searchTerm); //

    fetch(url)
    .then((response) => response.json())
    .then((data) => {
      let movies = [];
      // --------------- ONLY FIRST RESULT
      // console.log(data);
      // console.log(data.results[0]);
      // if (typeof data.results[0] !== "undefined" && data.results[0].kind === "feature-movie") {
      //   movies.push(buildMovie(data.results[0]));
      // }
      // --------------- LOOP ALL RESULTS
      data.results.forEach((result) => {
        if (result.kind === "feature-movie") {
          const movie = buildMovie(result);
          movies.push(movie);
        }
      });
      addCards(movies);
      addSelectionListener(cardsContainer);
    });
  };

  const buildMovie = (apiResultObject) => {
    return {
      "title": apiResultObject.trackName,
      "artworkUrl": resizeImage(apiResultObject.artworkUrl100),
      "itunesId": apiResultObject.trackId,
      "primaryGenreName": apiResultObject.primaryGenreName,
    }
  };

  const addCards = (movies) => {
    deleteChildren(cardsContainer);
    movies.forEach((movie) => {
      const card = buildCard(movie);
      console.log(card);
      cardsContainer.insertAdjacentElement('beforeend', card);
      // addChild(cardsContainer, card);
    });
  };

  const deleteChildren = (element) => {
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    }
  };

  const addChild = (element, movie) => {
    element.insertAdjacentHTML("beforeend", `<p>${movie.title}</p>`);
  };

  const buildCard = (movie) => {
    // create div with class "search-card"
    const searchCard = createElementCustom("div", ["search-card"]);
    // create image with src="[movie.artworkUrl]" and alt="[movie.title]"
    const img = createImageCustom(movie.artworkUrl, movie.title, "100%");
    // create h2 element with value [movie.title]
    const title = document.createElement("h4");
    title.innerText = movie.title;
    // append img and h2 tag to the search-card
    insertElements(searchCard, [img, title]);
    return searchCard
  };


  const createElementCustom = (tagname, classnameArr) => {
    const el = document.createElement(tagname);
    classnameArr.forEach((classname) => {
      el.classList.add(`${classname}`);
    });
    return el
  };

  const createImageCustom = (src, altText, width) => {
    const img = document.createElement('img');
    img.src = src;
    img.alt = altText;
    img.style.width = width;
    return img
  };

  const insertElements = (parent, childsArr) => {
    childsArr.forEach((child) => {
      parent.insertAdjacentElement('beforeend', child);
    });
  };

  const resizeImage = (url) => {
    return url.replace("100x100bb.jpg", "400x400bb.jpg");
  };
</script>




