<!-- DO NOT CHANGE THE ID NAMING -->
<!-- <div class="background-container dark-violet"> -->

<!-- ENCODE "auth-token", "rekoTickImgUrl" and "userSignedId" inside hidden fields -->
<input id="rekoTickImgUrl" type="hidden" value="<%= asset_path 'white-check.svg' %>">
<input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
<!-- END OF HIDDEN FIELDS -->

<div class="jsTrigger-addNewRekos jsTrigger-itunesApiCall background-container b-white">
  <div class="master-container">
    <div class="search-page-wrapper">
      <div class="search-top-text">
        <% if user_signed_in? %>
          Hey <%= current_user.first_name %>, <br> add Rekos to your own list!
        <% else %>
          Recommendations from Allan for Assunta:
        <% end %>

        <form id="formAjaxSearch" class="visible">
          <div class="search-icon-wrapper">
            <input autocomplete="off" id="inputKeyword" name="" type="text" class= "search-bar-big f-gray" placeholder="Search for Rekos...">
            <img src="<%= asset_path 'search.svg'%>" alt="search">
          </div>
          <button id="sendRekosButton" class="invisible bttn-round-small"></button>
        </form>

        <!-- CARDS STYLING -> _search-cards.scss -->
        <div id="search-cards-container">
          <!-- WILL GET DYNAMICALLY POPULATED WITH NEW CARDS -->
        </div>

      </div>
    </div>
  </div>
</div>



