<div class="background-container b-violet">
  <div class="master-container-landing">
  <div class=space-top></div>
    <div class="paper-wrapper">


<h2 class="style-login-h2"> Forgot your password?</h2>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

<div class="form-post">
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label:false,
                placeholder: 'EMAIL',
                input_html: { autocomplete: "email" , class: "new-form-field-lg" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reset Password" , id:"form-btn-pw"%>
  </div>
<% end %>

<%#= render "devise/shared/links" %>

       </div>
    </div>
  </div>
</div>
