<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div id="sign-in-modal" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content vancamp-modal">
      <!-- HEADER (in case someone needs one just outcomment it) -->
      <div class="modal-header">
        <h1>Sign In</h1>
      </div>

      <div class="modal-body">
        <%= render 'devise/sessions/sign_in_form' %>
      </div>
      <!-- FOOTER (in case someone needs one just outcomment it)
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>
