
  <div class="master-container">

    <div class="landing-top-wrapper">
      <div class="logo-lockup">
        <div class="logo-landing">
        </div>
        <h2 class="tagline">Home for all your <br>recommendations.</h2>
      </div>
      <p class="invite-only f-gray"> * Reko is currently invite only *</p>

      <% if @invited %>
        <div class="congrats animate-reveal animate-first">
          Congrats, you're in!
        </div>
      <% end %>
    </div>

    <div class="paper-wrapper-landing">
      <div class="beta-bttn animate-reveal animate-second">
        <% if @invited %>
          <%= link_to "BETA ACCESS", new_user_registration_path, :class => "bttn b-large b-wide b-violet", :method => :get %>
        <% else  %>
          <%= link_to "APPLY FOR BETA", new_beta_applicant_path, :class => "bttn b-large b-wide b-violet", :method => :get %>
        <% end %>
      </div>

      <div class="landing-bottom-btns">
          <%= link_to "MEMBER LOG IN", new_user_session_path, class: "bttn b-small b-dark-violet", id: "margin-bttn" %>
      </div>
    </div>
  </div>


