<div class="container">
  <h1>Reko Backend Controlpanel</h1>

  <!-- USERS -->
  <h2>User</h2>
  <table class="table table-sm">
    <tr>
      <th></th>
      <th>description</th>
      <th>link (optional)</th>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all users</td>
      <td><%= link_to "all users", users_path %></td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can create a new user</td>
      <td>seed or terminal...</td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can edit credentials</td>
      <td>devise...</td>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can upload an image</td>
      <td></td>
    </tr>
  </table>
  <br>

  <!-- REKOS  -->
  <h2>Rekos</h2>
  <table class="table table-sm">
    <tr>
      <th></th>
      <th>description</th>
      <th>link (optional)</th>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all Rekos</td>
      <td><%= link_to "all rekos", rekos_path %></td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all rekos that a given user has recieved</td>
      <td><%= link_to "show user (random)", user_path(User.all.sample) %></td>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can visit the reko-inbox of a given user if I have his token</td>
      <td><%#= link_to "create user", new_user_path %></td>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can create a reko for a given user if I have his token</td>
      <td><%#= link_to "create user", new_user_path %></td>
    </tr>
  </table>
  <br>

  <!-- CONTENT (Movies)  -->
  <h2>Content (Movies)</h2>
  <table class="table table-sm">
    <tr>
      <th></th>
      <th>description</th>
      <th>link (optional)</th>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can list all recommended movies (and sort them by popularity)</td>
      <td></td>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can list all recommended podcasts (and sort them by popularity)</td>
      <td></td>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can list all recommended audiobooks (and sort them by popularity)</td>
      <td></td>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can search for movies/podcasts/audiobooks via ITunes API call and store them in the database with the click of a button</td>
      <td></td>
    </tr>
  </table>
</div>



