<%= render 'application/favicon' %>
  <div class="master-container fun-bg horz-center">
    <div class="landing-top-wrapper">
      <div class="logo-lockup">
        <div class="logo-landing">
        </div>
        <h2 class="tagline f-white">Friends know best.</h2>
      </div>
    </div>

      <div class="flex-landing-wrapper">
<!--  ////// INVITEED //////// -->
         <% if @invited %>
        <div class="lock-icon animate-reveal animate-second">
        </div>
      <% end %>
        <div class="beta-bttn animate-reveal animate-first flex-landing-wrapper">
          <% if @invited %>
            <%= link_to "BETA ACCESS", new_user_registration_path, :class => "beta-bttn b-yellow f-dark-violet", :method => :get %>
<!--  ////// NOT INVITED  //////// -->
          <% else  %>
            <%= link_to "Request Beta Access", new_beta_applicant_path, :class => "request-beta", :method => :get %>
          <% end %>
        </div>

      </div>
        <div class="landing-bottom-btns">
            <%= link_to "LOG IN", new_user_session_path, class: "log-in-bttn f-white b-dark-violet" %>
        </div>
  </div>


