
<div class="background-container-landing white">
  <div class="master-container-landing">
    <div class="landing-wrapper-landing">

      <div class="logo-landing">

      </div>
      <h2 class="t-large">Home for all your <br>recommendations.</h2>
      <div class="congrats">
        Congrats!!
      </div>
        <div class="congrats-bttn">
          <%= link_to "BETA ACCESS", new_user_registration_path, :class => "bttn b-large b-wide b-violet", :method => :get %>
        </div>
      </div>
      <div class="paper-wrapper-landing">
        <div class="landing-bottom-btns">
          <%= link_to "MEMBER LOG IN", new_user_session_path, class: "bttn b-small b-dark-violet" %>
          <%= link_to "APPLY FOR BETA", new_beta_applicant_path, class: "bttn b-small b-dark-violet" %>

        </div>
    </div>
  </div>
</div>

<!-- modal version of sign in -->
<!-- <p class="btn b-medium dark-violet" data-toggle="modal" data-target="#signInModal">MEMBER SIGN IN</p> -->
      <%#= render 'sign_in_modal' %>

<!--
<p class="btn b-small dark-violet" data-toggle="modal" data-target="#betaApplicantsModal">APPLY FOR BETA</p> -->
<%#= render 'beta_applicants/new' %>
