<h1>Reko</h1>
<h3>Home for all your recommendations.</h3>

<%= render 'sign_in_modal' %>
<%= render 'beta_applicants/new' %>

<p class="btn btn-primary" data-toggle="modal" data-target="#signInModal">MEMBER SIGN IN</p>
