<div class="master-container">
  <div class="paper-wrapper">
    <h1>Thank you <%= @sender_name %> for providing the following Rekos to <%= @receiver&.first_name %></h1>
    <ul>
      <% @movies.each do |movie| %>
        <li><%= movie %></li>
      <% end %>
    </ul>
  </div>
</div>
