
<div class="background-container b-white jsTrigger-feedbackModal">
   <div class="master-container">
    <div class="thankyou-container">
      <div class="thankyou-logo-container">
        <%= image_tag "logo", alt: "reko-logo", width: 200%>
      </div>

      <h2 class="thankyou-header">
        <%= @receiver&.first_name %> says thanks!
      </h2>

      <div class="">
        <%= link_to "Send more Rekos", rekos_new_search_path(sender_name: @sender_name, token: @token), class: "bttn b-large b-violet send-more-rekos-bttn" %>
      </div>


      <div class="thankyou-feedback-container">
        <div id="new-feedback-bttn" class="bttn b-small b-gray thankyou-feedback-bttn">Give Feedback!</div>
      </div>

      <div>
        <%= link_to "Apply for Beta", new_beta_applicant_path, class: "apply-for-beta-link" %>
      </div>
    </div>


   </div>
</div>



<!-- VARIABLES -->
<!-- @sender_name, @receiver&.first_name, @movies -->
