

 body {
  font-family: Roboto, sans-serif;
  overflow: hidden;
  background: white;
}


.inbox-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 90vh;
  border-radius: 77px 5px 5px 5px;
  background-color: white;
  overflow: hidden;
  color: #5E5E5E;
}







// *
// {
//   margin: 0;
//   padding: 0;
//   outline: none;
// }

// body
// {
//   height: 100%;
//   font-family: Roboto, sans-serif;
//   overflow: hidden;
//   background: red;
// }

// .container
// {
//   display: flex;
//   justify-content: center;
//   // width: 100vw;
//   max-width: 750px;
//   margin: 0 auto;
//   background-color: gray;

// }

// .app
// {
//   width: 750px;
//   height: 650px;
//   background: violet;
//   overflow: hidden;
// }
