.app-background {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inbox-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 90vh;
  border-radius: 77px 5px 5px 5px;
  background-color: white;
  overflow: hidden;
  color: #5E5E5E;
}

.master-wrapper-register {
  max-width: 450px;
  margin: 0 auto;
  height: 100%;
}

.master-container-new-user-preferences {
  max-width: 450px;
  margin: 0 auto;
  height: 100%;
}

.master-container-inbox {
  max-width: 450px;
  margin: 0 auto;
  justify-content: center;
  // border: 1px solid red;
  height: 100vh;
  // overflow: hidden;
  // overflow-x: hidden;
}
.master-container-inbox::-webkit-scrollbar {
    // display: none;
}
