
.white {
  background-color: white;
}
.gray {
  background-color: #5E5E5E;
}
.violet {
  background-color: #6966F6;
}
.green {
background-color: #61E786;
}

.dark-violet {
  background-color: #5A5766;
}
