

//DO NOT TOUCH, please.
//Select classes from here but please do not change. Use IDs on your divs to modify them further.


.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 42px;
  letter-spacing: 1px;
  font-size: 13px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 144px;
  height: 40px;
  background-color: gray;
  box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
}

.b-large {
  height: 65px;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: 500;
}

.b-medium {
  height: 45px;
  font-weight: 500;
  font-size: 13px;
}

.b-small {
  height: 30px;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1.3px;
}

.b-wide {
  width: 230px;
}

#margin-bttn {
  margin-bottom: 152px;
}

.reko-link {
  display: inline-block;
  font-weight: 400;
  overflow: auto;
  padding: 0 15px;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: 10px;
}

.reko-link:hover {
  background-color: #5A5766;
  transition: .4s;
}

.bttn-round{

  display: inline-block;
  text-decoration: none;
  background: #F7C212;
  color: #997C19;
  font-size: 44px;
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: .4s;
  box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.bttn-round:hover{
  background: #297A6A;
  transition: .4s;
}

// .bttn-round-small{
//   display: inline-block;
//   border: none;
//   text-decoration: none;
//   background: #61E786;
//   color: #297A6A;
//   font-size: 22px;
//   width: 50px;
//   height: 50px;
//   // line-height: 20px;
//   border-radius: 50%;
//   text-align: center;
//   transition: .4s;
//   box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
//   font-family: 'Quicksand', sans-serif;
//   font-weight: 400;
// }


.bttn-round-small{
  border: none;
  background: #6966F6;
  width: 70px;
  height: 70px;
  border-radius: 70%;
  transition: .4s;
  box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
  background-image: url(airplane-white.svg);
  background-size: contain;
  // background-size: 44px
  background-repeat: no-repeat;

  // IF WE WANT THE BUTTON TO BE REUSABLE THE POSITIONING
  // SHOULD NOT GO HERE I TINK (thomas)
  // top: 90%;
  // left: 45%;
  // position: absolute;
  background-size:25px;
  background-position: center;
  // filter:contrast(125%);

}

.margin-top-button {
  margin-top: 44px;
}

.submit-button {
  background-color:#6966F6 !important;
  border-radius: 50%;
  font-size: 17px;
  width: 65px;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url(check-mark-white.svg);
  background-size: contain;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  position: center;
  border:black;
  transition: ease .5s all;
  opacity: 1;
  &:disabled {
    opacity: 0;
  }
}

  .back-option{
  background-color: transparent !important;
  border-radius: 50%;
  font-size: 17px;
  width: 25px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url(back-arrow.svg);
  background-size: contain;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  position: relative;
  border:black;
  opacity: .3;
  bottom: 30%;
  left: -42%;
  margin-top: 30px;
}


#buttonBack {
  color:#8d8c8c;
  font-family: 'Roboto', sans-serif;
  // border-bottom: 1px solid currentColor;
  text-decoration: underline;
  decoration:none !important;
  position:relative;
  -webkit-appearance: none;
  background:transparent;
  border:none !important;
  font-size: 15px;
  // top: 45%;
  // right: 35%;
}


#back-option {
  color:#8d8c8c;
  font-family: 'Roboto', sans-serif;
  // border-bottom: 1px solid currentColor;
  text-decoration: underline;
  decoration:none !important;
  position:relative;
  -webkit-appearance: none;
  background:white;
  border:none !important;
  font-size: 15px;
  margin-top:40px;
  opacity: .7;
}

#back-button-option {
  color:#8d8c8c;
  font-family: 'Roboto', sans-serif;
  // border-bottom: 1px solid currentColor;
  text-decoration: underline;
  decoration:none !important;
  position:relative;
  -webkit-appearance: none;
  background:white;
  border:none !important;
  font-size: 15px;
  margin-top:20px;
  opacity:0.7;
}

#backbutton-beta-for-f{
  background-color: transparent !important;
  border-radius: 50%;
  font-size: 17px;
  width: 25px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url(back-arrow.svg);
  background-size: contain;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  // position: relative;
  border:black;
  opacity: .5;
  // top: 30%;
  // left: -45%;
  margin-top: 13px;
  // margin-bottom: 20px;
}

.inline-back-button {
  display:flex;
  margin-top: 10px;

}
