
#beta-button-large {
  background-color: #6966F6;
  width: 260px;
  height: 65px;
  color: white;
  font-size: 17px;
  border-radius: 42px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}
