

//DO NOT TOUCH, please.
//Select classes from here but please do not change. Use IDs on your divs to modify them further.


.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 42px;
  letter-spacing: 1px;
  font-size: 13px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 144px;
  height: 40px;
  background-color: gray;
  box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
}

.b-large {
  height: 65px;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: 500;
}

.b-medium {
  height: 45px;
  font-weight: 500;
  font-size: 13px;
}

.b-small {
  height: 30px;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1.3px;
}

.b-wide {
  width: 230px;
}

#margin-bttn {
  margin-bottom: 22px;
}

.reko-link {
  display: inline-block;
  font-weight: 400;
  overflow: auto;
  padding: 0 15px;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: 10px;
}

.reko-link:hover {
  background-color: #5A5766;
  transition: .4s;
}

.bttn-round{
  position: relative;
  top: -44px;
  right: 33px;
  display: inline-block;
  text-decoration: none;
  background: #61E786;
  color: #297A6A;
  font-size: 44px;
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: .4s;
  box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.bttn-round:hover{
  background: #297A6A;
  transition: .4s;
}

.bttn-round-small{
  display: inline-block;
  border: none;
  text-decoration: none;
  background: #61E786;
  color: #297A6A;
  font-size: 22px;
  width: 50px;
  height: 50px;
  // line-height: 20px;
  border-radius: 50%;
  text-align: center;
  transition: .4s;
  box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}



.submit-button {
  -webkit-appearance: none;
  background-color:#61E786 !important;
  border-radius: 50%;
  font-size: 17px;
  width: 65px;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url(checkmark.png);
  background-size: contain;
  background-position: center;

  letter-spacing: 1px;
  position: center;
  border:black;
  &:disabled {
    display: none;
  }
  &:active{
    opacity:1;
  }
}
