
.b-white {
  background-color: white;
}
.b-gray {
  background-color: #5E5E5E;
}
.b-green {
  background-color: #61E786;
}
.b-dark-green {
  background-color: #297A6A;
}
.b-violet {
  background-color: #6966F6;
}
.b-dark-violet {
  background-color: #5A5766;
}
.b-white {
  background-color: white;
}



.f-white {
  color: white;
}
.f-gray {
  color: #5E5E5E;
}
.f-green {
color: #61E786;
}
.f-dark-green {
  color: #297A6A;
}
.f-violet {
  color: #6966F6;
}
.f-dark-violet {
  color: #5A5766;
}
.f-white {
  color: white;
}
