.b-yellow{
  background-color: #F7B802;
}
.b-dark-yellow{
  background-color: #9a5702;
}
.b-white {
  background-color: white;
}
.b-gray {
  background-color: #5E5E5E;
}
.b-dark-gray {
  background-color: #464646;
}
.b-green {
  background-color: #61E786;
}
.b-dark-green {
  background-color: #297A6A;
}
.b-violet {
  background-color: #6966F6;
}
.b-dark-violet {
  background-color: #5A5766;
}
.b-white {
  background-color: white;
}



.f-white {
  color: white;
}
.f-gray {
  color: #5E5E5E;
}
.f-green {
color: #61E786;
}
.f-dark-green {
  color: #297A6A;
}
.f-violet {
  color: #6966F6;
}
.f-dark-violet {
  color: #5A5766;
}
.f-white {
  color: white;
}
.b-dark-gray {
  color: #464646;
}

.f-yellow{
  color: #F7B802;
}
.f-dark-yellow{
  color: #9a5702;
}

.fun-bg {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #dfdcfa, #5c5ad0, #6966F6, #bdbce2);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

h1,
h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}



















