#index-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9710259103641457) 80%, rgba(246,246,246,1) 100%);
  padding: 25px 0;
  height: 50px;
  bottom: 0;
}

#new-feedback-bttn {
  border: none !important;
  cursor: pointer;
}

.logout-icon {
  color: lightgrey;
  margin-bottom: 30px;
  font-size: 2.5em;
}




