#index-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: .5px solid lightgrey;
  padding: 25px 0;
  position: absolute;
  height: 50px;
  bottom: 0;
  bottom: 0;
}

.new-feedback-bttn {
  border: none !important;
}

.logout-icon {
  color: lightgrey;
  margin-bottom: 30px;
  font-size: 2.5em;
}



