.inbox-title {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  // width: 100vw;
  min-height: 30px;
}

.inbox-top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  margin-bottom: 25px;
  margin-left: 11px;
  min-height: 50px;
}

.inbox-user {
  margin-left: 10px;
}

.user-icon {
  margin-right: 15px;
}


.copy-link-nav {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.copy-link-nav p {
  color: #6966F6;
  text-size: 7px !important;
  margin: 0;
  }

.empty-reko-list {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.rekos-are-empty {
  margin-bottom: unset;
  font-size: 2rem;
}

.send-link {
  font-size: 1rem;
}

.js-copy {
  margin-left: 25px;
  border: none;
}

.js-copy-large {
  align-self: center;
  width: 248px;
  height: 80px;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
}

.hidden-link-button {
  visibility: hidden;
}
