.inbox-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  height: 0px;
  padding-left: 19px;
  padding-top: 41px;
  img {
    height: 30px;
    padding-right: 11px
  }
}

.link-copy {
  letter-spacing: .5px;
  margin-bottom: -36px;
  position: relative;
  z-index: 12;
  font-weight: 500;
  font-size: 13px;
}

.inbox-top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  // margin-bottom: 25px;
  // margin-left: 11px;
  min-height: 50px;
}

.inbox-user {
  margin-left: 10px;
  font-size: 26px;
}

.user-icon {
  margin-right: 15px;
}


.copy-link-nav {
  font-size: 10px;
  text-align: center;
  margin-bottom: -2%;
  max-width: 426px;
}

.copy-link-nav p {
  color: #6966F6;
  text-size: 7px !important;
  margin: 0;
  }

  .text-overflow {
  width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

.send-link {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 400;
  margin-top: 0px;
  line-height: 18px;
  margin-bottom: 33px;
  color: #6966F6 !important;


}

.js-copy {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 2vw;
  border: none;
  width: 50vw;
  display: flex;
}

.js-copy-large {
  width: 77vw;
  height: 64px;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.hidden-link-button {
  visibility: hidden;
}

.visitor-link-in-button {
  max-width: 85%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.copy-icon-in-button {
  width: 20%;
  text-align: right;
}


// body {
//   width: 100%;
//   max-width: 30rem;
//   margin: 0 auto;
// }

// img {
//   width: 100%;
// }

.siema {
  margin: 1rem 0;
}

#friends-names > p {
  font-size: 16px;
  margin-top: 0;
}
.reko-title > p {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
}
