.horz-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.request-beta {
  text-decoration: underline;
  color:white;
  margin-bottom: -39vh;
}

.bottom-marg {
  margin-bottom: 32px;
}
.landing-top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-content: bottom;
  // margin-top: 25%;
  // margin-bottom: 1vh;
  text-align: center;
  height: 25vh;
}


.logo-landing {
  // position: absolute;
  // top:60%;
  background-image: url(logo-light.png);
  background-size: 148px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 91px;
  width: 163px;
}

.tagline {
  position: relative;
  top:5px;
  font-size: 17px;
  margin-top: 5px;
  letter-spacing: .5px;
}

.invite-only {
  margin-bottom: 37px;
}

.lock-icon {
  background-image: url(lock-icon.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 44px;
  width: 44px;
}



.flex-landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
}

.congrats {
  font-size: 20px;
  font-weight: 300;
  color: #6966F6;
  margin-bottom: 14px
  // margin-top: 55px;
  // padding-top: 55px;
  // margin-bottom: 31px;
}



.landing-bottom-btns {
  position: absolute;
  bottom: 7vh;
}





.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal .5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal .5s ease-in 1 normal forwards;
       -o-animation: reveal .5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal .5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 900ms;
     -moz-animation-delay: 900ms;
       -o-animation-delay: 900ms;
          animation-delay: 900ms;
}

.animate-second {
  -webkit-animation-delay: 1400ms;
     -moz-animation-delay: 1400ms;
       -o-animation-delay: 1400ms;
          animation-delay: 1400ms;
}


@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
       -moz-transform: translateY(50%);
         -o-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}


// .congrats {
//   font-size: 26px;
//   color: #6966F6;
//   padding-top: 55px;
//   padding-bottom: 16px;
//   animation: 1s fadeIn;
//   animation-fill-mode: forwards;
//   visibility: hidden;
// }

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     visibility: visible;
//     opacity: 1;
//   }
// }


