.horz-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.request-beta {
  text-decoration: underline;
  color:white;
}

.bottom-marg {
  margin-bottom: 32px;
}
.landing-top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-content: bottom;
  // margin-top: 25%;
  // margin-bottom: 1vh;
  text-align: center;
  height: 45vh;
}


.logo-landing {
  background-image: url("logo-light.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 10vh;
}

.tagline {
  font-size: 19px;
  margin-top: 13px;
  margin-bottom: 42px;
}

.invite-only {
  margin-bottom: 37px;
}

.flex-landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.congrats {
  font-size: 20px;
  font-weight: 300;
  color: #6966F6;
  margin-bottom: 14px
  // margin-top: 55px;
  // padding-top: 55px;
  // margin-bottom: 31px;
}



.landing-bottom-btns {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // margin-top: 1vh;
  // height: 10vh;
}


.beta-bttn {
  position: relative;
  // top: -37px;
}


.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal .5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal .5s ease-in 1 normal forwards;
       -o-animation: reveal .5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal .5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 2000ms;
     -moz-animation-delay: 2000ms;
       -o-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.animate-second {
  -webkit-animation-delay: 2500ms;
     -moz-animation-delay: 2500ms;
       -o-animation-delay: 2500ms;
          animation-delay: 2500ms;
}


@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
       -moz-transform: translateY(50%);
         -o-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}


// .congrats {
//   font-size: 26px;
//   color: #6966F6;
//   padding-top: 55px;
//   padding-bottom: 16px;
//   animation: 1s fadeIn;
//   animation-fill-mode: forwards;
//   visibility: hidden;
// }

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     visibility: visible;
//     opacity: 1;
//   }
// }


