

.congrats {
  font-size: 33px;
  color: #6966F6;
  padding-top: 55px;
  padding-bottom: 16px;
}

.landing-wrapper-landing {
  margin-top: 15vh;
  margin-bottom: 10vh;
  text-align: center;
  height: 100%;
}

.logo-landing {
  // background-color: red;
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 13vh;
}

.landing-bottom-btns {
  display: flex;
  flex-direction: column; justify-content: space-around;
  margin-top: 20px;
  height: 115px;
}

.home-desktop {
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;


}


