///////////////////////////////////////////////////////////////////
// DO NOT TOUCH, please.
// These classes effect all containers and wrappers on Reko.
///////////////////////////////////////////////////////////////////

body {
  margin: 0;
  width: 100%;
}

.background-container {
  width: 100%;
  height: 100%;
}

.master-container {
  max-width: 750px;
  margin: 0 auto;
  justify-content: center;
}

.paper-wrapper {
  min-height: 100vh;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 55px 2px 2px 2px;
  background-color: white;
  padding: 12px 12px 50px 12px;
  -webkit-box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.17);
}


/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////




.background-container-landing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}





.paper-wrapper-search {
  color: #5E5E5E;
  min-height: 100vh;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 55px 2px 2px 2px;
  background-color: white;
  padding: 12px 12px 50px 12px;
  width: 97vw;
  -webkit-box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.17);
}



@media (min-width: 750px) {
  .master-wrapper {
  max-width: 750px;
  }

  .paper-wrapper {
  max-width: 300px;
  }
}



@media (min-width: 750px) {
  .master-wrapper-landing {
  max-width: 750px;
  }

  .paper-wrapper-landing {
  max-width: 750px;
  }
  .master-wrapper-search {
  max-width: 750px;
  }

  .paper-wrapper-search {
  max-width: 750px;
  }

}
