
// DO NOT TOUCH, please.
// These classes effect all containers and wrappers on Reko.

body {
  margin: 0;
}

//To add color use this class + color classes (white, gray, green, violet, or dark-violet)
.background-container {
  width: 100%;
  height: 100vh;
}


.master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.paper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 55px;
  background-color: white;
  padding: 12px 12px 50px 12px;
  width: 100%;

}

@media (max-width: 750px) {
  .master-wrapper {
  max-width: 750px;
  }

  .paper-wrapper {
  max-width: 750px;
  }

}
