
// DO NOT TOUCH, please.
// These classes effect all containers and wrappers on Reko.

body {
  margin: 0;
}

//To add color use this class + color classes (white, gray, green, violet, or dark-violet)
.background-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.master-container {
  display: flex;
  // justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.paper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 55px 2px 2px 2px;
  background-color: white;
  padding: 12px 12px 50px 12px;
  width: 97vw;
  box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.5);
}


@media (min-width: 750px) {
  .master-wrapper {
  max-width: 750px;
  }

  .paper-wrapper {
  max-width: 300px;
  }

}
