
.search-page-wrapper {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-top-text {
  margin: 7vh 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 150%;
  color: #5E5E5E;
  padding: 0 7%;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12vh;
}


.name-input-field {
  height: 55px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  border-top: none;
  border-bottom: 5px;
  border-color: #6966F6;
  color: #6966F6;
  margin-right: 22px;
}

