.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-top-wrapper {
  margin-top: 7vh;
  height: 30vh;
  width: 70vw;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: white;
}
