.form-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#new_user input {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border-radius: 4px;
  border: .5px solid #6d6e6a;
  padding: 7px;
  margin: 9px;
  text-align: center;
  height: 20px;
  width: 200px;
  font-size: 13px;
}

#form-bttn {
  background-color: #6966F6 !important;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: none !important;
  width: 200px !important;
  height: 50px !important;
  border-radius: 33px !important;
}
.form-actions {
  display:flex;
}
