html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

.swiper-card {
  width: 100vw;
  height: 100px;
  overflow: hidden;
  margin: 0;
  border-top: 1px solid #E4E6E8;
  // padding: 5px;
  // -webkit-box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.17);
  // box-shadow: 0px 0px 41px 6px rgba(0,0,0,0.17);
  // border-radius: 0 0 20px 20px;
}

#movie-list {
  margin-top: 20px;
}

#movie-list:last-child {
  margin-bottom: 90px;
  border-bottom: 1px solid #E4E6E8;
}

.light-grey-background {
  background-color: white;
  // background-image: url('seen');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 100px;
  opacity: 0.3;
  // background-color: lightgrey;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: -webkit-box;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;
  // box-shadow: 0 0 40px;

  /* Center slide text vertically */

  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-slide {
  min-width: 100px;
  max-width: 320px;
  background-color: #FF5C31;
  background-image: url('naw-icon');
  background-position: center;
  background-size: 60px;
  background-repeat: no-repeat;
  color: #fff;
  // border-radius: 0 0 20px 0;
}

.main-slide {
  width: 100%;
  // border-radius: 3px 3px 3px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.mark-watched-slide {
  min-width: 100px;
  max-width: 320px;
  background-color: #61E786;
  background-image: url(seen.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  color: #fff;
  // border-radius: 0 0 0 20px;

}

.reko-artwork {
  height: 100px;
  width: 100px;
  // border-radius: 0 3px 3px 0;
  background-size: cover;
  flex-shrink: 0;
}

.reko-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: 90px;
  margin-top: 0;
  padding-top: 0
}

.reko-title {
  margin-top: 8px;
  font-size: 1rem;
  text-align: left
}

.sender-names {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.in-card-avatar {
  margin-right: 5px;
}

// .no-swipe-left {
//   margin-right: -20px;
// }

.seen {
  position: relative;
  right: 80px;
  top: 60px;
  font-size: 1.5rem;
  color: #297A6A;
  z-index: 2000;
}


