html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

.swiper-card {
  width: 100vw;
  height: 101px;
  overflow: hidden;
  margin: 0;
  .swiper-container {
    overflow-x: hidden;
  }
}

#movie-list {
  margin-top: 2vh;
}

.light-grey-background {
  background-color: white;
  opacity: 0.3;
}

.swiper-container {
  width: 100%;
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.swiper-wrapper {
  display: -webkit-box;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #E4E6E8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.swiper-slide:active {
  cursor: grabbing;
}

.delete-slide {
  min-width: 100px;
  max-width: 320px;
  background-color: #FF5C31;
  background-image: url('naw-icon');
  background-position: center;
  background-size: 60px;
  background-repeat: no-repeat;
  color: #fff;
}

.main-slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.mark-watched-slide {
  min-width: 100px;
  max-width: 320px;
  background-color: #61E786;
  background-image: url(seen.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  color: #fff;
}

.reko-artwork {
  height: 100px;
  width: 100px;
  background-size: cover;
  flex-shrink: 0;
}

.reko-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: 90px;
  margin-top: 0;
  padding-top: 0
}

.reko-title {
  margin-top: 8px;
  font-size: 1rem;
  text-align: left
}

.sender-names {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.in-card-avatar {
  margin-right: 5px;
}

.seen {
  position: relative;
  right: 80px;
  top: 60px;
  font-size: 1.5rem;
  color: #297A6A;
  z-index: 2000;
}


