body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #5E5E5E;
  background-color: white;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  color: #5E5E5E;
}


h2 {
  font-weight: 400;
  font-size: 22px;
  color: #5E5E5E;
}

.t-large {
  font-size: 22px;
}

.t-medium {
  font-size: 15px;
}

.t-small {
  font-size: 11px;
}



