.padding-user-pref {
  height: 17vh;
}

.space-top-user{
  padding-top:5vh;
}
.what-do-you {
  padding: 22px;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4vh;
}
.form-post {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

}

.coming-soon {

  font-size: 13px;
  color: #5A5766;
}
.user_preference_choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    flex-direction: column;
}

.user_preference_choice {
  background-color: #5A5766;
  width: 66vw;
  color: white;
  font-size: 22px;
  border-radius: 42px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  opacity: 1;
  text-align: center;
  flex: 0 0 30%;
  align-items: center;
  display: flex;
  flex-direction:column;
  margin:15px;

  &.active {
  color: white;
  opacity: 1;
  background-color: #6966F6;
  }
}

  h1{
  font-weight: 500;
  font-size: 30px;
  color: #5E5E5E;
  text-align: center;

}

.submit-bttn-div {
  margin-top: 44px;
}

.future-features{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align:center;
}
