.form-post {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;


}

.user_preference_choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.user_preference_choice {
  background-color: #6966F6;
  width: 260px;
  color: white;
  font-size: 17px;
  border-radius: 42px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  opacity: .4;
  text-align: center;
  flex: 0 0 30%;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  color: white;
  opacity: 1;
  }
}

  h1{
  font-weight: 500;
  font-size: 30px;
  color: #5E5E5E;
}

.submit-button input {
  background-color:green;
  border-radius: 50%;
  font-size: 17px;



}
